<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="[% app_host_url %]">
    <title>[% title %]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Loader -->
    <link rel="stylesheet" href="[% css_loader_url %]/load1.css" class="loader-style">
    <link rel="stylesheet" href="[% css_loader_url %]/load2.css" class="loader-style">
    <link rel="stylesheet" href="[% css_loader_url %]/load3.css" class="loader-style">
    <link rel="stylesheet" href="[% css_loader_url %]/load4.css" class="loader-style">
    <link rel="stylesheet" href="[% css_loader_url %]/load5.css" class="loader-style">
    <link rel="stylesheet" href="[% css_loader_url %]/load6.css" class="loader-style">
    <link rel="stylesheet" href="[% css_loader_url %]/load7.css" class="loader-style">
    <link rel="stylesheet" href="[% css_loader_url %]/load8.css" class="loader-style">

    <link rel="stylesheet" href="[% bs_url %]/css/bootstrap.min.css">
    <link rel="stylesheet" href="[% bs_tbl_url %]/bootstrap-table.min.css">

    <script src="[% jq_url %]/jquery.min.js"></script>
    <script src="[% bs_url %]/js/bootstrap.min.js"></script>
    <script src="[% bs_tbl_url %]/bootstrap-table.min.js"></script>

    <!-- Bootstrap-table extensions -->
    <script src="[% bs_tbl_context_menu %]/bootstrap-table-contextmenu.js"></script>

    <!-- Bootbox code -->
    <script src="[% app_host_lib %]/bootbox/bootbox.min.js"></script>

    <!-- jquery Mustache  -->
    <script type="text/javascript" src="[% mustache_url %]/mustache.min.js"></script>


    <style>
      img.displayed {
          display: block;
          margin-left: auto;
          margin-right: auto
      }

      .icon_text { 
        font-size:   65%;
        /* display:     block; */
        display:     inline-block;
        line-height: 65%;
        position:    float-right; 
        /* position:    absolute; */
        margin-top:  5px;
      }

      /* Make the Stacked Pills Menu 200px wide */
      .stackedpillsmenu {
        margin-left: 1px;
        width:120px;
      }
     
      /* Set the button colors */
      .stackedpillsmenu .nav-stacked > li > a {
        background-color: #0088cc;
        color: #ffffff;
      }
     
      .stackedpillsmenu .nav-stacked > li > a:hover {
        background-color: #ff0000;
      }

      /* Loader settings */
      .loader,
      .loader:before,
      .loader:after {
        border-radius: 50%;
      }
      .loader {
        color: #ffffff;
        font-size: 11px;
        text-indent: -99999em;
        margin: 55px auto;
        position: relative;
        width: 10em;
        height: 10em;
        box-shadow: inset 0 0 0 1em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
      }
      .loader:before,
      .loader:after {
        position: absolute;
        content: '';
      }
      .loader:before {
        width: 5.2em;
        height: 10.2em;
        background: #929292;
        border-radius: 10.2em 0 0 10.2em;
        top: -0.1em;
        left: -0.1em;
        -webkit-transform-origin: 5.2em 5.1em;
        transform-origin: 5.2em 5.1em;
        -webkit-animation: load2 2s infinite ease 1.5s;
        animation: load2 2s infinite ease 1.5s;
      }
      .loader:after {
        width: 5.2em;
        height: 10.2em;
        background: #929292;
        border-radius: 0 10.2em 10.2em 0;
        top: -0.1em;
        left: 5.1em;
        -webkit-transform-origin: 0px 5.1em;
        transform-origin: 0px 5.1em;
        -webkit-animation: load2 2s infinite ease;
        animation: load2 2s infinite ease;
      }
      @-webkit-keyframes load2 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes load2 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
    </style>

    <script>
      $(document).ready( function() {
        $('[data-toggle="tooltip"]').tooltip();
      });
      [%+ INCLUDE cldl/includes/js/cldl_ajax.js +%]

    </script>

  </head>
  <body>
    [%+ INCLUDE cldl/includes/menu.tt +%]
    <div class="container">
    [%+ content +%]
    </div>
  </body>
</html>


