    <div id="container">
      [% INCLUDE cldl/page_header.tt %]
      <div class="row">
        <div class="col-sm-1"></div> 
        <div class="col-sm-10">
          <h1>Fair And Show Vendor</h1> 
          <p>http://www.fairandshowvendor.com</p>
        </div>
        <div class="col-sm-1"></div> 
      </div>       <!-- row -->
    </div>         <!-- container -->





