[%IF generate_template == 1 %]
<!-- cldl/includes/buttons/form_buttons.tt -->
[% END %]


              <div class="form-group">
                <button class="btn btn-default resetbutton">
                  <i class="glyphicon glyphicon-refresh"></i> 
                  Reset
                </button>

                <button class="btn btn-danger savebutton">
                  <i class="glyphicon glyphicon-save"></i>
                  Save
                </button>
              </div>
