<span class="btn-group btn-xs pull-right "> <button class="btn btn-default btn-xs dropdown-toggle pull-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-option-vertical"></i> </button> <ul class="dropdown-menu"> <li><a href="#" class="permissiondv">  <i class="glyphicon glyphicon-lock"></i>Permissions</a></li> <li><a href="#" class="editdv"><i class="glyphicon glyphicon-list"></i>Edit This DV</a></li> <li><a href="#" class="editdvf"><i class="glyphicon glyphicon-list-alt"></i>Edit Fields</a></li> <li><a href="#" class="openinwindowdv"><i class="glyphicon glyphicon-link"></i>Open In Window</a></li> </ul> </span>
